<p id="notice"><%= notice %></p>

<h1>Your shopping cart</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Product</th>
      <th>Number</th>
      <th>Money</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.product.name %></td>
        <td><%= bill.number %></td>
        <td><%= bill.money %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>