<div class="row">
  <div class="product-info-text">
    <div class="product-i product-name"><%= product.name %>
    <%= render 'products/liked', product: product %>
    </div>
    <div class="product-i product-make">xuat su: <%= product.make %></div>
    <div class="product-i product-price">gia: <%= product.price %></div>
    <div class="product-i product-description">mieu ta: <%= product.description %></div>
  </div>
  <hr>
</div>