<div class="col-md-6 product-show-info">
  <div class="product-show-info-text">
    <p class="product-name"><%= @product.name %><%= render 'products/liked', product: @product %></p>
    <p>Miêu tả: <%= @product.description %></p>
    <p class="product-price">Giá: <%= @product.price %></p>
    <p>Xuất sứ: <%= @product.make %></p>
  </div>
  <div class="product-show-info-img">
    <%= image_tag @product.img_link %>
  </div>
</div>

<% if current_user %>
    <%= form_for(Bill.new, :url => {controller: 'bills', action: 'create', user_id: current_user.id, product_id: @product.id}) do |f| %>
        <div class="field">
          <%= f.label :number %><br>
          <%= f.number_field :number %>
        </div>
        <div class="actions">
          <%= f.submit 'BUY', class: 'btn btn-success' %>
        </div>
    <% end %>
<% end %>


<div class="fb-cmt">
  <div class="fb-comments"
       data-href="<%= product_url(@product) %>"
       data-numposts="5"></div>
</div>