<div class="header-nav">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to '<i class="fa fa-home"> HoaQua</i>'.html_safe, root_path, class: 'navbar-brand active' %>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"></li>
        <li><%= form_tag products_path, method: :get, class: 'form-inline pull-xs-right' do %>
              <%= text_field_tag :query, params[:query], placeholder: 'Tìm kiếm', class: 'form-control' %>
              <button type="submit" class="btn btn-success-outline">
                <i class="fa fa-search"></i>
              </button>
          <% end %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li><%= link_to '<i class="fa fa-sign-out"> sign out</i>'.html_safe, logout_path, :method => :delete %></li>
            <% if admin? %>
                <li><%= link_to 'admin', admin_admin_path, class: 'btn btn-warning' %></li>
            <% else %>
                <li><%= link_to '<i class="fa fa-shopping-cart"></i>('.html_safe + current_user.my_cart.count.to_s + ')', bills_path %></li>
            <% end %>
        <% else %>
            <li><%= link_to '<i class="fa fa-user-plus"> sign up</i>'.html_safe, new_user_path %></li> |
            <li><%= link_to '<i class="fa fa-sign-in"> sign in</i>'.html_safe, login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>