
<div class="header-nav">
  <div class="header-nav-left">
    <%= link_to 'home', root_path %>
    <div class="search-bar">
      <%= form_tag products_path, method: :get, class: 'form-search' do %>
          <%= text_field_tag :query, params[:query], placeholder: 'Tìm kiếm', class: 'typeahead', autocomplete: 'off' %>
          <button type="submit" class="search-submit">
            <i class="fa fa-search">search</i>
          </button>
      <% end %>
    </div>
  </div>
  <div class="header-nav-right">
    <% if current_user %>
        <%= link_to 'sign out', logout_path, :method => :delete %>
        <% if admin? %>
          <%= link_to 'admin', admin_admin_path %>
        <% end %>
    <% else %>
        <%= link_to 'sign up', new_user_path %> |
        <%= link_to 'sign in', login_path %>
    <% end %>
  </div>
</div>